<mat-list>
  <mat-list-item routerLink="{{routes.DASHBOARD}}" routerLinkActive="active">
    <mat-icon>home</mat-icon>
    Dashboard
  </mat-list-item>

  <mat-list-item (click)="openUiElements()">
    <mat-icon>person</mat-icon>
    User
  </mat-list-item>
  <div>
    <mat-list-item class="ui-element" routerLink="{{routes.USER_LIST}}" routerLinkActive="active">
      <div class="circle"></div>
      List
    </mat-list-item>
    <mat-list-item class="ui-element" routerLink="{{routes.USER_FORM}}" routerLinkActive="active">
      <div class="circle"></div>
      Form
    </mat-list-item>
  </div>
</mat-list>

<p class="sidebar-title">Help</p>

<mat-list>
  <a href="#" target="_blank" style="text-decoration: none;">
    <mat-list-item>
      <mat-icon>library_books</mat-icon>
      Library
    </mat-list-item>
  </a>
  <a href="#" target="_blank" style="text-decoration: none;">
    <mat-list-item>
      <mat-icon>question_answer</mat-icon>
      Support
    </mat-list-item>
  </a>
  <a href="#" target="_blank" style="text-decoration: none;">
    <mat-list-item>
      <mat-icon>help_outline</mat-icon>
      FAQ
    </mat-list-item>
  </a>
</mat-list>
