<app-layout>
  <mat-toolbar class="page-header" role="heading">
    <h1>Form User</h1>
  </mat-toolbar>

  <div class="content-form-layout">
    <mat-card class="form-card" *ngIf="!isUserCreated">
      <mat-card-header>
        <mat-card-title>{{ modeCreate ? 'Create User' : 'Update User'  }}</mat-card-title>
      </mat-card-header>

      <mat-card-content class="form-card__content">
        <form class="form-card__content__form" [formGroup]="form" (ngSubmit)="onSubmitForm()">
          <mat-form-field class="form__input">
            <input matInput placeholder="Name User" type="text" formControlName="name">
          </mat-form-field>

          <mat-form-field class="form__input">
            <input matInput placeholder="Job User" type="text" formControlName="job">
          </mat-form-field>

          <div class="form-card__content__form-action">
            <button class="form-actions__login" mat-raised-button color="primary" type="submit">Send</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>

    <mat-card class="user-card" *ngIf="isUserCreated">
      <mat-card-header>
        <mat-card-title>User Saved</mat-card-title>
      </mat-card-header>

      <mat-card-content class="user-card__content">
        <p class="user-card__content__title"> Name: <span class="user-card__content__text">{{userCreated.name}}</span>
        </p>
        <p class="user-card__content__title"> Job: <span class="user-card__content__text">{{userCreated.job}}</span></p>

        <p class="user-card__content__title" *ngIf="isUserCreated && !isUserUpdated"> Created At: <span
          class="user-card__content__text">{{userCreated.createdAt | date :'short'   }}</span></p>

        <p class="user-card__content__title" *ngIf="isUserUpdated"> Updated At: <span
          class="user-card__content__text">{{userCreated.createdAt | date :'short' }}</span></p>

      </mat-card-content>

      <mat-card-actions class="user-card__actions-button">

        <button (click)="onUpdateUser()" mat-raised-button color="primary" mat-button>Update User</button>

      </mat-card-actions>
    </mat-card>
  </div>


</app-layout>



